<!DOCTYPE html>
<html>
    <head>
        <h2> FROMS </h2>
    </head>
    <body>
        <style>
            table,th,td {
                border : 1px solid black;
                border-collapse: collapse;
            }
            th,td {
                padding: 5px;
            }
        </style>
       
        
        <button type="button" onclick="loadForms()"> Forms </button>
        <br><br>
        <table id="form_table"></table>
        <div id="form_demo"></div>
        <br><br>

        <div id="form_demo">
            <label for="form_id">Enter Form ID: </label>
            <input type="text" id="form_id" name="form_id">
            <button type="button" onclick="localFormContent()"> OK </button>
        </div>

        <script id="form" type="text/javascript" src="js/forms.js"></script>
        <script di="contentForm" type="text/javascript" src="js/form_content.js"></script>
        
    </body>
</html>