body {font-family: Arial, Helvetica, sans-serif;}
input[type=text] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid green;
}

.center {
  margin: auto;
  text-align: center;
  width: 50%;
  padding: 10px;
}

.bts {background-color: #4CAF50;}
.btd {background-color: #f44336;}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}