<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./CSS/styles.css">
    <link rel="stylesheet" href="./CSS/edit_content.css">
    
  </head>
  <body onload="loadForms()">

    <div id="edit_form_demo">
      <table id="form_table"></table><br><br>
      <div class="center">
        <input type="text" id="form_id" placeholder="Form ID"><br><br>
        <button type="button" class="button bts" onclick="helper()"> Show </button>
        <button type="button" class="button btd" onclick="localDeleteForm()" onsubmit="window.location.reload()"> Delete </button>
      </div>
    </div>

    <script di="contentForm" type="text/javascript" src="../js/forms.js"></script>
    <script di="contentForm" type="text/javascript" src="../js/form_delete.js"></script>
    <script di="contentForm" type="text/javascript" src="../js/form_content.js"></script>
    
    <script>
        function helper(){
          var _id = document.getElementById('form_id').value,
          url = './update_form.html?form_id=' + encodeURIComponent(_id);

          document.location.href = url;
        }
    </script>

  </body> 
</html>
