<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="C:/DjangoCode/sqlab/form_generator/templates/CSS/edit_specific_form_styles.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
    <body>
        <style>
            .ID{
                display: none;
            }
        </style>
        <h2 style="font-weight: 500;">Edit Form</h2>

        <div class="container">
            <form>
                <div id="ID" class="ID"></div>
                <div class="row">
                    <div class="col-25">
                        <label for="title">Title</label>
                    </div>
                    <div class="col-75" id="Title">
                        
                    </div>
                </div>
            
                <div class="row">
                    <div class="col-25">
                        <label for="description">Description</label>
                    </div>
                    <div class="col-75" id="Description">
                        
                    </div>
                </div>
                <div id="checkboxes"></div>      
            </form>
    
            <h2>Fields</h2>
                <table id="myTable">
                        <tr>
                            <th class="ID">ID</th>
                            <th>Name</th>
                            <th>Label</th>
                            <th>Type</th>
                            <th>Required</th>
                            <th>Visible</th>
                            <th>description</th>
                            <th>min_value</th>
                            <th>max_value</th>
                            <th>default_value</th>
                            <th>PlaceHolder</th>
                            <th></th>
                        </tr>   
                </table>
                <br><br>
                <div class="row">
                    <input type="button" value="+" onclick="localFieldContent()">
                    <input type="button" value="-" onclick="delete_row()">
                </div>
                <br><br>
        
            <div class="row">
                <input type="submit" value="Cancle" class="sc" onclick="parent.location='homepage/base_edit_forms.html'">
                <input type="submit" value="Save" class="ss" onclick="localUpdateForm()">
            </div>
        </div> 
        <script>       
            window.onload = function () {
                var url = document.location.href,
                    params = url.split('?')[1].split('=')[1];
                loadFormContent(parseInt(params))
            }
    
            function helper(x){
                delete_field(x.parentNode.parentNode.rowIndex);
            }
        </script>     
        <script di="contentForm" type="text/javascript" src="C:/DjangoCode/sqlab/form_generator/templates/js/edit_form.js"></script>
        <script di="contentForm" type="text/javascript" src="C:/DjangoCode/sqlab/form_generator/templates/js/save_edited_form.js"></script>
        <script di="contentForm" type="text/javascript" src="C:/DjangoCode/sqlab/form_generator/templates/js/delete_specific_field.js"></script>
        <script di="contentForm" type="text/javascript" src="C:/DjangoCode/sqlab/form_generator/templates/js/add_new_field.js"></script>  
    </body>
</html>