<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="C:/DjangoCode/sqlab/form_generator/templates/CSS/show_specific_form_styles.css">
    </head>
    <body>
        <form id="edit_form_demo"></form>
    </body>
    <script>       
        window.onload = function () {
            var url = document.location.href,
                params = url.split('?')[1].split('=')[1];
            loadFormContent(parseInt(params));
        }
    </script>
    <script di="contentForm" type="text/javascript" src="C:/DjangoCode/sqlab/form_generator/templates/js/Edit Form/Show Spec Form/form_content.js"></script>
</html>